<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title> <%= @title %> - Twitling </title>
    <link href="linkdigest.css" media="all" rel="stylesheet" type="text/css" />
  </head>
<body>
<%= yield %>
<footer>
  Code &copy;2012 <a href="http://ww.telent.net/">Daniel Barlow</a>,
  words &copy; the people wot wrote them.  Powered by
  <a href="http://www.sinatrarb.com/">Sinatra</a> and 
  <a href="https://github.com/intridea/omniauth/wiki">OmniAuth</a> and
  the <a href="http://twitter.rubyforge.org/">Twitter Ruby Gem</a>
</body>
