<header><h1>Sign in with Twitter</h1></header>
<article>
<p>Twitling presents a summary of all the links posted by people you 
follow on Twitter.  To do this, it needs you to sign into Twitter

<p>
<a href="/auth/twitter">
  <img src="/sign-in-with-twitter-l.png" alt="sign in with twitter">
</a>
</article>
